// Give container div ".grid" class to set a max-width for the grid
.grid {
	max-width: 900px;
	margin: 0 auto; }

// Use ".col-3" class for 3 columns max
// Use ".col-4" class for 4 columns max
.col-3, .col-4 {
	width: 90%;
	margin: 1em auto;
	// "border-box" allows the grid to work when divs have borders
	box-sizing: border-box; }

@media (min-width: 480px) {
	.col-3, .col-4 {
		width: 46%;
		float: left;
		margin: 2%; } }

@media (min-width: 768px) {
	.col-3, .col-4 {
		width: 30%;
		margin: 1.65%; } }

// Not needed for 3 column max grid
@media (min-width: 992px) {
	.col-4 {
		width: 23%;
		margin: 1%; } }